<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Statistics / Departments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content [fullscreen]="true" class="ion-padding">

    <ion-row *ngIf="showForm">
      <ion-col>

        <app-loading></app-loading>
        <app-messages></app-messages>

        <form [formGroup]="form" class="filter-form">

          <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="true">
            <mat-label>Department</mat-label>
            <mat-select formControlName="department">
              <mat-option *ngFor="let department of departments$ | async" [value]="department.Value">
                {{ department.Description }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('department')!.errors?.required">Please select department</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="true">
            <mat-label>Period</mat-label>
            <mat-date-range-input [rangePicker]="picker" calendarLabel="Kalendar">
              <input matStartDate formControlName="startDate" placeholder="Start">
              <input matEndDate formControlName="endDate" placeholder="End">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <mat-error *ngIf="form.get('startDate')!.errors?.required || form.get('endDate')!.errors?.required">
              Please insert start and end date
            </mat-error>

          </mat-form-field>

          <ion-button expand="block" fill="outline" (click)="onFormSubmit()" [disabled]="!form.valid">Show</ion-button>

        </form>

      </ion-col>
    </ion-row>

  <ion-row>
    <ion-col>
      <ng-container *ngIf="statistics">

        <app-list
          *ngIf="statistics.length > 0; else noData"
          [data]="statistics"
          [schema]="schema"
          [buttons]="{}"
          (elementSelected)="onElementSelected($event)"
        >
        </app-list>

        <ng-template #noData>
          <h1>No Data</h1>
          <ion-icon name="alert-circle-outline"></ion-icon>
        </ng-template>

      </ng-container>
    </ion-col>
  </ion-row>
</ion-content>
