<ng-container *ngIf="!activeElement; else details">
  <app-loading></app-loading>

  <ng-container *ngIf="elements">
    <ion-list *ngIf="elements.length > 0; else noData">

      <ion-item *ngFor="let el of elements; let i = index" (click)="onSelectElement(el, true)" detail="true">
      <!-- <ion-thumbnail *ngIf="showStatusIcon" slot="end">
        <ion-icon [name]="getStatusIcon(el.status)" [color]="getStatusIconColor(el.status)"></ion-icon>
      </ion-thumbnail> -->
        <ion-label>
          <h2 *ngFor="let title of schema['title']">
            {{ el[title] }}
            <ion-icon
              class="status-icon"
              *ngIf="showStatusIcon"
              [ios]="getStatusIcon(el.status) + '-outline'" [md]="getStatusIcon(el.status) + '-sharp'"
              [color]="getStatusIconColor(el.status)"
            >
            </ion-icon>
          </h2>
          <!-- <p>{{ el[schema['subtitle']] }}</p> -->
          <p *ngFor="let subtitle of schema['subtitle']">{{ el[subtitle] }}</p>
          <p *ngIf="showTimeInterval">{{ el.startTime | date:'dd/MM/yyyy HH:mm' }} - {{ el.endTime | date:'HH:mm' }}</p>
        </ion-label>
        <!-- <ion-icon class="status-icon" *ngIf="showStatusIcon" [name]="getStatusIcon(el.status)" [color]="getStatusIconColor(el.status)"></ion-icon> -->
      </ion-item>

    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ng-template #noData>
      <p class="no-data">No Data</p>
      <ion-icon class="no-data" name="alert-circle-outline"></ion-icon>
    </ng-template>

  </ng-container>


</ng-container>

<ng-template #details>

  <div class="details">

    <ion-button fill="clear" (click)="onBackToList()">
      <ion-icon slot="start" name="caret-back-outline"></ion-icon>
      Back To List
    </ion-button>


    <h1><span *ngFor="let title of schema['title']">{{ activeElement![title] }} </span></h1>

    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="key">
        <mat-header-cell *matCellDef="let element">{{ element.key }}</mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="val">
        <mat-cell *matCellDef="let element" style="text-align: center;">{{ element.val }}</mat-cell>
      </ng-container>
      <mat-row *matRowDef="let row; columns: ['key', 'val'];"></mat-row>
    </mat-table>

    <div *ngIf="btns.length > 0" class="buttons">
      <ion-button *ngFor="let btn of btns" color="{{ btn['mobileColor'] }}" fill="solid">
        <ion-icon slot="icon-only" name="{{ btn['mobileIcon'] }}"></ion-icon>
      </ion-button>
    </div>
  </div>

</ng-template>
