<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'menuSections.statistics' | translate }} / {{ 'pageTitles.organizations' | translate }}</ion-title>
    <ion-buttons *ngIf="isDesktop$ | async" slot="end">
      <app-logout></app-logout>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid>

    <ion-row *ngIf="showForm">

      <ion-col size="12" size-md="8" offset-md="2" size-lg="8.5" offset-lg="1.5" size-xl="8" offset-xl="0">

        <app-loading></app-loading>
        <app-messages></app-messages>

        <form [formGroup]="form" class="filter-form">

          <ion-row>

            <ion-col size="12" size-lg="5.5">
              <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="true">
                <mat-label>Period</mat-label>
                <mat-date-range-input [rangePicker]="picker" calendarLabel="Kalendar">
                  <input matStartDate formControlName="startDate" placeholder="{{ 'startTime' | translate }}">
                  <input matEndDate formControlName="endDate" placeholder="{{ 'endTime' | translate }}">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="form.get('startDate')!.errors?.required || form.get('endDate')!.errors?.required">
                  Please insert start and end date
                </mat-error>
              </mat-form-field>
            </ion-col>

            <ion-col size="10" size-lg="5">
              <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="true">
                <mat-label>{{ 'organization' | translate }}</mat-label>
                <mat-select formControlName="organization">
                  <mat-option *ngFor="let org of organizations$ | async" [value]="org.Value">
                    {{ org.Description }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('organization')!.errors?.required">Please select organization</mat-error>
              </mat-form-field>
            </ion-col>

            <ion-col size="2" size-lg="1.5">
              <ion-button fill="solid" color="secondary" (click)="onFormSubmit()" [disabled]="!form.valid">
                <ion-icon slot="icon-only" [ios]="'search-outline'" [md]="'search-sharp'"></ion-icon>
              </ion-button>
            </ion-col>

          </ion-row>

        </form>

      </ion-col>
    </ion-row>

    <ion-row *ngIf="statisticsData.data">
      <ion-col *ngIf="(isDesktop$ | async) === false; else table" size="12" size-md="8" offset-md="2">

          <app-list
            *ngIf="statisticsData.data.length > 0; else noData"
            [data]="statisticsData.data"
            [schema]="schema"
            [buttons]="{}"
            [hideSearch]="true"
            [showDetail]="false"
            (elementSelected)="onElementSelected($event)"
          >
          </app-list>

          <ng-template #noData>
            <p class="no-data">No Data</p>
            <ion-icon class="no-data" name="alert-circle-outline"></ion-icon>
          </ng-template>

      </ion-col>

      <ng-template #table>
        <ion-col>
          <app-table
          *ngIf="!firstLoad"
          [data]="statisticsData"
          [schema]="schema"
          [buttons]="{}"
        >
        </app-table>
        </ion-col>
      </ng-template>
    </ion-row>

  </ion-grid>

</ion-content>
