<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'pageTitles.newRequest' | translate }}</ion-title>
    <ion-buttons *ngIf="isDesktop$ | async; else formSubmit" slot="end">
      <app-account></app-account>
      <app-logout></app-logout>
    </ion-buttons>
    <ng-template #formSubmit>
      <ion-buttons slot="end">
        <ion-button (click)="onFormSubmit()" [disabled]="!form.valid">
          <ion-icon *ngIf="!platform.is('ios'); else btnText" slot="icon-only" [ios]="'checkmark-outline'" [md]="'checkmark-sharp'"></ion-icon>
          <ng-template #btnText>
            <span>Save</span>
          </ng-template>
        </ion-button>
      </ion-buttons>
    </ng-template>
  </ion-toolbar>
</ion-header>

<app-loading></app-loading>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <app-messages></app-messages>
    <ion-row>


      <ion-col size="12" size-md="6" push-md="3" size-lg="7" push-lg="2.5" size-xl="4" push-xl="4">


        <form [formGroup]="form">

          <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="true">
            <mat-label>{{ 'project' | translate }}</mat-label>
            <mat-select formControlName="projectId">
              <mat-option *ngFor="let project of projects$ | async as projects" [value]="project.id">
                {{ project.project }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('projectId')!.errors?.required">{{ 'errors.projectRequired' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="true">
            <mat-label>{{ 'reason' | translate }}</mat-label>
            <textarea type="text" matInput formControlName="reason" rows="5"></textarea>
            <mat-error *ngIf="form.get('reason')!.errors?.required">{{ 'errors.reasonRequired' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="true">
            <mat-label>{{ 'startTime' | translate }}</mat-label>
            <input type="test" matInput formControlName="start">
            <mat-icon matSuffix id="start-time-modal">calendar_month</mat-icon>
            <mat-error *ngIf="form.get('start')!.errors?.required && !form.get('start')!.errors?.matDatetimePickerParse">
              {{ 'errors.startTimeRequired' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="true">
            <mat-label>{{ 'endTime' | translate }}</mat-label>
            <input type="test" matInput formControlName="end">
            <mat-icon matSuffix id="end-time-modal">calendar_month</mat-icon>
            <mat-error *ngIf="form.get('end')!.errors?.required && !form.get('end')!.errors?.matDatetimePickerParse">
              {{ 'errors.endTimeRequired' | translate }}
            </mat-error>
          </mat-form-field>

          <ion-button
            class="ion-margin-bottom"
            *ngIf="isDesktop$ | async"
            fill="outline"
            expand="block"
            (click)="onFormSubmit()"
            [disabled]="!form.valid"
          >
            {{ 'btn.save' | translate }}
          </ion-button>

        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal class="date-time" [ngClass]="{'desktop-modal': platform.is('desktop')}" trigger="start-time-modal">
  <ng-template>
    <ion-content>
        <ion-datetime
          [locale]="locale"
          #startDatetime
          presentation="time-date"
          size="cover"
          (ionChange)="startDateChanged(startDatetime.value)"
          (ionCancel)="showStartTimePicker = false"
        >
          <ion-buttons slot="buttons">
            <ion-button (click)="closeStartTime()">{{ 'btn.cancel' | translate }}</ion-button>
            <ion-button (click)="selectStartTime()">{{ 'btn.select' | translate }}</ion-button>
          </ion-buttons>
          <span slot="time-label">{{ 'labels.time' | translate }}</span>
        </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal class="date-time" [ngClass]="{'desktop-modal': platform.is('desktop')}" trigger="end-time-modal">
  <ng-template>
    <ion-content>
      <ion-datetime
        [locale]="locale"
        #endDatetime
        presentation="time-date"
        size="cover"
        (ionChange)="endDateChanged(endDatetime.value)"
        (ionCancel)="showEndTimePicker = false"
      >
        <ion-buttons slot="buttons">
          <ion-button (click)="closeEndTime()">{{ 'btn.cancel' | translate }}</ion-button>
          <ion-button (click)="selectEndTime()">{{ 'btn.select' | translate }}</ion-button>
        </ion-buttons>
        <span slot="time-label">{{ 'labels.time' | translate }}</span>
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>
