<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>New Request</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onFormSubmit()" [disabled]="!form.valid">
        <ion-icon slot="icon-only" [ios]="'checkmark-outline'" [md]="'checkmark-sharp'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6" push-lg="3">

        <app-loading></app-loading>
        <app-messages></app-messages>

        <form [formGroup]="form">

          <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="true">
            <mat-label>Project</mat-label>
            <mat-select formControlName="projectId">
              <mat-option *ngFor="let project of projects$ | async as projects" [value]="project.id">
                {{ project.project }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('projectId')!.errors?.required">Project ID is required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="true">
            <mat-label>Reason</mat-label>
            <textarea type="text" matInput formControlName="reason" rows="5"></textarea>
            <mat-error *ngIf="form.get('reason')!.errors?.required">Pleade insert reason for request</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="true">
            <mat-label>Start Time</mat-label>
            <input type="test" matInput formControlName="start">
            <mat-icon matSuffix id="start-time-modal">calendar_month</mat-icon>
            <mat-error *ngIf="form.get('start')!.errors?.required && !form.get('start')!.errors?.matDatetimePickerParse">
              Start time is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="true">
            <mat-label>End Time</mat-label>
            <input type="test" matInput formControlName="end">
            <mat-icon matSuffix id="end-time-modal">calendar_month</mat-icon>
            <mat-error *ngIf="form.get('end')!.errors?.required && !form.get('end')!.errors?.matDatetimePickerParse">
              End time is required
            </mat-error>
          </mat-form-field>

        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal class="date-time" trigger="start-time-modal">
  <ng-template>
    <ion-content>
      <ion-datetime
        #startDatetime
        presentation="time-date"
        size="cover"
        (ionChange)="startDateChanged(startDatetime.value)"
        (ionCancel)="showStartTimePicker = false"
      >
        <ion-buttons slot="buttons">
          <ion-button (click)="closeStartTime()">Cancel</ion-button>
          <ion-button (click)="selectStartTime()">Select</ion-button>
        </ion-buttons>
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal class="date-time" trigger="end-time-modal">
  <ng-template>
    <ion-content>
      <ion-datetime
        #endDatetime
        presentation="time-date"
        size="cover"
        (ionChange)="endDateChanged(endDatetime.value)"
        (ionCancel)="showEndTimePicker = false"
      >
        <ion-buttons slot="buttons">
          <ion-button (click)="closeEndTime()">Cancel</ion-button>
          <ion-button (click)="selectEndTime()">Select</ion-button>
        </ion-buttons>
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>
