<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="requests$ | async">

    <app-list
      *ngIf="requests.length > 0; else noData"
      [data]="requests"
      [schema]="schema"
      [buttons]="buttons"
      (modalOpen)="openModal($event)"
    >
    </app-list>

  </ng-container>

  <ng-template #noData>
    <h1>No Data</h1>
    <ion-icon name="alert-circle-outline"></ion-icon>
  </ng-template>

</ion-content>
