ion-icon {
  font-size: 16rem;
  width: 16rem;
  margin: 0 auto;
  position: relative;
  top: 10vh;
  left: 16vw;
  color: #A9AABC;
}

h1 {
  text-align: center;
  margin-top: 5rem;
  color: #A9AABC;
}
