<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'pageTitles.myRequests' | translate }}</ion-title>
    <ion-buttons *ngIf="isDesktop$ | async" slot="end">
      <app-logout></app-logout>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <app-loading></app-loading>
  <app-messages></app-messages>
  <ion-grid>
    <ion-row *ngIf="requests$ | async">
      <ion-col *ngIf="(isDesktop$ | async) === false; else table" size="12" size-md="8" push-md="2">
        <app-list
          *ngIf="requestsData.data.length > 0; else noData"
          [data]="requestsData.data"
          [schema]="schema"
          [buttons]="buttons"
          (modalOpen)="openModal($event)"
        >
        </app-list>

        <ng-template #noData>
          <h1>No Data</h1>
          <ion-icon name="alert-circle-outline"></ion-icon>
        </ng-template>
      </ion-col>

      <ng-template #table>
        <ion-col>
          <app-table
            [data]="requestsData"
            [schema]="desktopSchema"
            [buttons]="buttons"
            (modalOpen)="openModal($event)"
          >
          </app-table>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>
</ion-content>
