ion-row {
  height: 66vh;
}

ion-col {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

svg {
  margin-bottom: 3rem;
}

ion-item {
  margin-bottom: 2rem;
}

ion-button.resendCode {
  width: fit-content;
  margin: 1rem auto 0;
}
