// Filter form styles
form.filter-form {

  margin-top: 2rem;

  .mat-mdc-form-field {
    width: 100%;
  }

  ion-button {

    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 48px;

    --padding-start: 0;
    --padding-end: 0;

    --box-shadow: none;

  }
}

.desktop {

  form.filter-form {

    margin-bottom: 0;

    .small .mat-mdc-text-field-wrapper {
      height: 40px !important;
    }
    .small .mat-mdc-form-field-flex {
      margin-top: -7px !important;
    }
    .small .mat-mdc-icon-button.mat-mdc-button-base {
      height: 40px;
      width: 40px;
      padding: 8px;
    }

    // .mat-mdc-form-field {
    //   width: initial;
    // }

    ion-button {
      // width: initial;
      // margin-left: 1rem;
      margin-top: 0;
      height: 38px;
      --border-width: 1px;
    }

  }

}
