.table-wrapper, .mat-mdc-select-pane {
  --offset-bottom: auto !important;
  --overflow: hidden;
  background: #fff;
  overflow: auto;

  &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
  }

  &::-webkit-scrollbar-track {
      background: #ffffff;
  }

  &::-webkit-scrollbar-track:hover {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
      // background: rgb(75, 75, 75);
      background-color: #ECEEFF;
      border-radius: 10px;
      border: 3px solid #ffffff;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #8f54a0;
  }

  .inner-scroll {
      scrollbar-width: thin;
  }
}

// Scrollbar styles for material select component
::-webkit-scrollbar {
  width: 8px;
  overflow-y: scroll;
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #ECEEFF;
  border-radius: 10px;
}
