<ion-split-pane [ngClass]="{'desktop': isDesktop}" contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 158 37.74" fill="#fff"><path d="M0 37.14h25.05v-8.18H10.3V.59H0v36.55m55.01-22.66H41.23V8.57h14.63V.59H30.92v36.55h25.74v-8.02H41.23v-6.73h13.78v-7.91m25.63 23.26c11.78 0 19.18-7.48 19.18-19.25C99.82 8.73 93.56 0 81.21 0 69.42 0 62.14 8.46 62.14 19.09c0 10.14 6.55 18.65 18.45 18.65zm.36-7.76c-5 0-8-4.61-8-11.11 0-6.34 3-11.11 8-11.11s7.91 4.77 7.91 11.06c0 6.61-2.9 11.17-7.91 11.17zm34.28 7.16v-9c0-5.91-.11-11.44-.4-16.37h.23A145.88 145.88 0 0 0 121.6 25l6.49 12.15h10.82V.59h-9.39v8.63a131.74 131.74 0 0 0 .8 15.4h-.17a129.71 129.71 0 0 0-6-12.79L118 .59h-12.11v36.55zM147.7.59v36.55H158V.59h-10.3"/></svg>
        <ion-item *ngIf="user$ | async as user" lines="none">
          <ion-icon class="user-icon" slot="start" [ios]="'person-circle-outline'" [md]="'person-circle-sharp'"></ion-icon>
          <ion-label>{{ user.fullName }}</ion-label>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content>


      <ion-list class="inbox-list">

        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" [routerLink]="['/', 'dashboard']" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="'grid-outline'" [md]="'grid-sharp'"></ion-icon>
            <ion-label>{{ 'pageTitles.dashboard' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" [routerLink]="['/', 'approvals']" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="'help-circle-outline'" [md]="'help-circle-sharp'"></ion-icon>
            <!-- <ion-label>My Approvals <span *ngIf="counts$ | async as counts">({{ counts.approvals }})</span></ion-label> -->
            <ion-label>
              {{ 'pageTitles.myApprovals' | translate }}
              <ng-container *ngIf="counts$ | async as counts">
                <ion-badge color="secondary" *ngIf="counts.approvals > 0">
                  {{ counts.approvals }}
                </ion-badge>
              </ng-container>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>

      <ion-list class="labels-list">
        <ion-list-header>{{ 'menuSections.requests' | translate }}</ion-list-header>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" [routerLink]="['/', 'my-requests', 'pending']" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="'file-tray-full-outline'" [md]="'file-tray-full-sharp'"></ion-icon>
            <!-- <ion-label>My Requests <span *ngIf="counts$ | async as counts">({{ counts.requests }})</span></ion-label> -->
            <ion-label>
              {{ 'pageTitles.pending' | translate }}
              <ng-container *ngIf="counts$ | async as counts">
                <ion-badge color="secondary" *ngIf="counts.requests > 0">
                  {{ counts.requests }}
                </ion-badge>
              </ng-container>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" [routerLink]="['/', 'new-request']" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="'add-circle-outline'" [md]="'add-circle-sharp'"></ion-icon>
            <ion-label>{{ 'pageTitles.newRequest' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" [routerLink]="['/', 'my-requests', 'overview']" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="'file-tray-stacked-outline'" [md]="'file-tray-stacked-sharp'"></ion-icon>
            <ion-label>{{ 'pageTitles.overview' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>

      <ion-list class="labels-list">
        <ion-list-header>{{ 'menuSections.reports' | translate }}</ion-list-header>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" [routerLink]="['/', 'reports', 'departments']" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="'business-outline'" [md]="'business-sharp'"></ion-icon>
            <ion-label>{{ 'pageTitles.departments' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" [routerLink]="['/', 'reports', 'organizations']" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="'list-circle-outline'" [md]="'list-circle-sharp'"></ion-icon>
            <ion-label>{{ 'pageTitles.organizations' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" [routerLink]="['/', 'reports', 'projects']" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="'albums-outline'" [md]="'albums-sharp'"></ion-icon>
            <ion-label>{{ 'pageTitles.projects' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>

      <ion-list id="labels-list">
        <ion-list-header>{{ 'menuSections.statistics' | translate }}</ion-list-header>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" [routerLink]="['/', 'statistics', 'departments']" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="'business-outline'" [md]="'business-sharp'"></ion-icon>
            <ion-label>{{ 'pageTitles.departments' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" [routerLink]="['/', 'statistics', 'organizations']" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="'list-circle-outline'" [md]="'list-circle-sharp'"></ion-icon>
            <ion-label>{{ 'pageTitles.organizations' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>

      <ion-menu-toggle *ngIf="!isDesktop" auto-hide="false">
        <ion-item class="logout-item" lines="none" (click)="onLogout()" detail="false">
          <ion-icon aria-hidden="true" slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
          <ion-label>{{ 'btn.logout' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
