ion-card {
  width: 100vw;
  height: 100vh;
  padding: 4rem 0 0;
  text-align: center;
}

ion-card-title {
  font-size: 8rem;

}

ion-card-subtitle {
  font-size: 2rem;

}

ion-card-content {
  padding-top: 1rem;
}
