ion-badge {
  position: absolute;
  font-size: 8pt;
  right: -20px;
  top: -7px;
}

.requests-buttons {
  text-align: center;
  margin-top: 5rem;
}

ion-button {
  margin: 5px auto 1rem;
  width: 65%;
  height: 40px;
  position: relative;
}

/* Setting Overflow Visible */
ion-button.dashboard-buttons::part(native) {
  overflow: visible;
  --border-width: 1px;
}
