<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'pageTitles.dashboard' | translate }}</ion-title>
    <ion-buttons *ngIf="isDesktop$ | async" slot="end">
      <app-logout></app-logout>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid [fixed]="true">

    <app-loading></app-loading>
    <app-messages></app-messages>

    <ion-row>
      <ion-col size="12" size-lg="6" push-lg="3">


        <div *ngIf="counts$ | async as counts" class="requests-buttons">

          <ion-button class="dashboard-buttons" fill="outline" color="light" fill="solid" routerDirection="root" [routerLink]="['/', 'new-request']">
            {{ 'btn.newRequest' | translate }}
          </ion-button>

          <ion-button class="dashboard-buttons" fill="outline" color="light" fill="solid" routerDirection="root" [routerLink]="['/', 'requests']">
            {{ 'btn.myRequests' | translate }}
            <ion-badge color="danger" *ngIf="counts.requests > 0">{{ counts.requests }}</ion-badge>
          </ion-button>

          <ion-button class="dashboard-buttons" fill="outline" color="light" fill="solid" routerDirection="root" [routerLink]="['/', 'approvals']">
            {{ 'btn.myApprovals' | translate }}
            <ion-badge color="danger" *ngIf="counts.approvals > 0">{{ counts.approvals }}</ion-badge>
          </ion-button>

        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
