<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'pageTitles.myApprovals' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <app-loading></app-loading>
  <app-messages></app-messages>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" push-md="2">
        <ng-container *ngIf="approvals$ | async">

          <app-list
            *ngIf="approvals.length > 0; else noData"
            [data]="approvals"
            [schema]="schema"
            [buttons]="buttons"
            (modalOpen)="openActionSheet($event)"
          >
          </app-list>

          <ng-template #noData>
            <h1>{{ 'messagess.noData' | translate }}</h1>
            <ion-icon name="alert-circle-outline"></ion-icon>
          </ng-template>

        </ng-container>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
